div.checker input,div.radio input,div.uploader input{opacity:0;filter:alpha(opacity=0);border:none}
div.button span,input.uniform-input,select.uniform-multiselect,textarea.uniform{color:#fff;font-family:Arial,Helvetica,sans-serif}
div.button span,div.selector select,input.uniform-input,select.uniform-multiselect,textarea.uniform{font-family:Arial, Helvetica, sans-serif; }
div.button,
div.button span,
div.checker span,
div.selector,
div.selector span,div.uploader,
div.uploader span.action{background:none;-webkit-font-smoothing:antialiased}
div.button,div.checker,div.radio,div.selector,div.uploader{display:-moz-inline-box;display:inline-block;zoom:1;vertical-align:middle}
div.button:focus,div.checker:focus,div.radio:focus,div.selector:focus,div.uploader:focus{outline:0}div.button,div.button *,div.checker,div.checker *,div.radio,div.radio *,div.selector,div.selector *,div.uploader,div.uploader *{margin:0;padding:0}.highContrastDetect{background:url(css/images/agent/bg-input-agent.png) repeat-x;width:0;height:0}
div.selector,
div.selector span{height:32px;overflow:hidden;line-height:32px; box-sizing:content-box!important;}
input.uniform-input,
select.uniform-multiselect,
textarea.uniform{padding:4px;background:url(css/images/agent/bg-input-agent.png) repeat-x;outline:0}
input.uniform-input.active,
select.uniform-multiselect.active,
textarea.uniform.active{background:url(css/images/agent/bg-input-focus-agent.png) repeat-x}
div.checker input,input[type=search],input[type=search]:active{-webkit-appearance:none;-moz-appearance:none;appearance:none}
div.selector{background:#fff; height:31px; border:solid 1px #666;padding:0 0 0 12px;position:relative; width:calc(100% - 14px)!important;}
div.selector span{text-overflow:ellipsis;display:block;white-space:nowrap;background-position:right 0;padding-right:31px;cursor:pointer; width:calc(100% - 31px)!important; background:url(css/selector.jpg) right center no-repeat;}
div.selector.fixedWidth{width:190px}
div.selector.fixedWidth span{width:153px}
div.selector select{opacity:0;filter:alpha(opacity=0);background:0 0;position:absolute;height:31px;top:0px;left:0;width:100%}

div.checker,div.radio,div.uploader{position:relative}
div.checker,div.checker input,div.checker span,div.radio,div.radio input,div.radio span{width:23px;height:23px}
div.selector.active{/* background-position:0 -192px */}
div.selector.active span{/* background-position:right -32px */}
div.selector.focus,div.selector.hover{/* background-position:0 -224px */}
div.selector.focus span,div.selector.hover span{/* background-position:right -64px */}
div.selector.focus.active,div.selector.hover.active{/* background-position:0 -256px */}
div.selector.focus.active span,div.selector.hover.active span{/* background-position:right -96px */}
div.selector.disabled,div.selector.disabled.active{/* background-position:0 -288px */}
div.selector.disabled span,div.selector.disabled.active span{background-position:right -128px}
div.checker span{
	display:-moz-inline-box;
	display:inline-block;
	zoom:1;
	text-align:center;
	background:url(tienda/checkbox.png) center center no-repeat;
	
}
div.checker span.checked{background:url(tienda/checkboxCheked.png) center center no-repeat;}
div.checker input{display:-moz-inline-box;display:inline-block;zoom:1}
div.checker.active span{}
div.checker.active span.checked{}
div.checker.focus span,div.checker.hover span{}
div.checker.focus span.checked,div.checker.hover span.checked{}
div.checker.focus.active span,div.checker.hover.active span{}
div.checker.focus.active span.checked,div.checker.hover.active span.checked{}
div.checker.disabled span,div.checker.disabled.active span{}
div.checker.disabled span.checked,div.checker.disabled.active span.checked{}

div.radio span{display:-moz-inline-box;display:inline-block;zoom:1;text-align:center; background:url(tienda/radio.png) center center no-repeat;}
div.radio span.checked{ background:url(tienda/radioCheked.png) center center no-repeat;}
div.radio input{background:0 0;display:-moz-inline-box;display:inline-block;zoom:1;text-align:center}
div.radio.active span{}
div.radio.active span.checked{}
div.radio.focus span,div.radio.hover span{}
div.radio.focus span.checked,div.radio.hover span.checked{}
div.radio.focus.active span,div.radio.hover.active span{}
div.radio.focus.active span.checked,div.radio.hover.active span.checked{}
div.radio.disabled span,div.radio.disabled.active span{}
div.radio.disabled span.checked,div.radio.disabled.active span.checked{}
div.uploader{background-position:0 -366px;height:32px;width:190px;overflow:hidden}
div.uploader span.action{background-position:right -494px;height:32px;line-height:32px;width:90px;float:left;display:inline;overflow:hidden;cursor:pointer}div.uploader span.filename{text-overflow:ellipsis;display:block;overflow:hidden;white-space:nowrap;float:left;cursor:default;height:32px;margin:0 0 0 4px;line-height:32px;width:76px;padding:0 10px}div.uploader input{background:0 0;position:absolute;top:0;right:0;float:right;cursor:default;width:100%;height:100%}div.uploader.active span.action{background-position:right -558px}div.uploader.focus,div.uploader.hover{background-position:0 -430px}div.uploader.focus span.action,div.uploader.hover span.action{background-position:right -526px}div.uploader.focus.active span.action,div.uploader.hover.active span.action{background-position:right -590px}div.uploader.disabled,div.uploader.disabled.active{background-position:0 -398px}div.uploader.disabled span.action,div.uploader.disabled.active span.action{background-position:right -462px}div.button{background-position:0 -750px;height:32px;cursor:pointer;position:relative}div.button a,div.button button,div.button input{opacity:.01;filter:alpha(opacity=1);display:block;top:0;left:0;right:0;bottom:0;position:absolute}div.button span{display:-moz-inline-box;display:inline-block;zoom:1;line-height:24px;text-align:center;background-position:right -622px;height:24px;margin-left:13px;padding:9px 15px 0 2px}div.button.active{background-position:0 -782px}div.button.active span{background-position:right -654px;cursor:default}div.button.focus,div.button.hover{background-position:0 -814px}div.button.focus span,div.button.hover span{background-position:right -686px}div.button.disabled,div.button.disabled.active{background-position:0 -846px}input.uniform-input,select.uniform-multiselect,textarea.uniform{font-size:14px;font-weight:400;background-color:#434343;border:1px solid #1a1a1a;border-right-color:#1c1c1c;border-bottom-color:#1c1c1c;border-radius:3px}input.uniform-input.focus,input.uniform-input.hover,select.uniform-multiselect.focus,select.uniform-multiselect.hover,textarea.uniform.focus,textarea.uniform.hover{box-shadow:0 0 4px rgba(0,0,0,.3);border-color:#999;background-color:#575757}
div.button span{font-weight:700;font-size:13px;letter-spacing:1px;text-transform:uppercase}
div.button.disabled span,div.button.disabled.active span{background-position:right -718px;cursor:default;color:#bbb}
div.selector{color:#464545;font-size:14px}
div.selector span{padding:0 31px 0 0!important;color:#666;; height:31px; line-height:31px;box-sizing: content-box;}
div.selector select{font-size:1em;border:1px solid #fff}
div.selector.disabled span,div.selector.disabled.active span{color:#bbb}
div.checker,div.radio{margin-right:10px}
div.uploader{margin-bottom:20px;cursor:pointer}
div.uploader span.action{text-align:center;text-shadow:#1a1a1a 0 1px 0;background-color:#fff;font-weight:700;color:#fff}div.uploader span.filename{color:#777;font-size:11px}
div.uploader.disabled span.action,div.uploader.disabled.active span.action{color:#aaa}
div.uploader.disabled span.filename,div.uploader.disabled.active span.filename{border-color:#ddd;color:#aaa}