@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium.woff2') format('woff2'),
        url('fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.woff2') format('woff2'),
        url('fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Thin.woff2') format('woff2'),
        url('fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.woff2') format('woff2'),
        url('fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Black.woff2') format('woff2'),
        url('fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

*{
    outline: none;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.disblock{ display: block!important; }
.ohidden{ overflow: hidden; }

.fl{ float: left; }
.fr{ float: right; }

.mtop-10{ margin-top: 10px!important; }
.mtop-20{ margin-top: 20px!important; }
.mtop-30{ margin-top: 30px!important; }

.mbottom-5{ margin-bottom: 5px!important; }
.mbottom-10{ margin-bottom: 10px!important; }
.mbottom-20{ margin-bottom: 20px!important; }
.mbottom-70{ margin-bottom: 70px!important; }
.mbottom-100{ margin-bottom: 100px!important; }

.pbottom-70{ padding-bottom: 70px; }

.clearfix{ clear: both; }

.container{
    width: 95%;
    max-width: 1180px;
    margin: auto;
}

.container-top{
    width: 95%;
    max-width: 1180px;
    margin: 12px auto;
}

header .top{
    background: #fafafa;
    border-top: 1px solid #eb2d2f;
    height: 40px;
    font-weight: 500;
    display: grid;
    width: 100%;
}

header .top .atop{
    border-right: 1px solid #0f578d;
    padding: 0 8px;
    color: #999999;
    float: left;
}

header .top .atop small{
    display: none;
    float: left; 
    font-size: 12px;
    font-weight: 500;
}

.save_products{
    padding: 0!important;
}

header .top .atop:first-child{
    padding-left: 0;
}

header .top .atop:last-child{
    border-right: 0;
}

header .top .atop i{
    margin-right: 8px;
    color: #eb2d2f;
    font-size: 14px;
    float: left;
}

header .top .atop span{
    float: left;
}

header .content_header{
    height: 80px;
    display: grid;
    grid-template-columns: auto 60% auto;
    align-items: center;
    justify-content: space-between;
}

header .content_header .col{
    width: 100%;
}

header .content_header .col:last-child{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
}

.aoption{
    color: #0f578d;
    font-weight: 500;
    margin-right: 20px;
    float: left;
}

.aoption:nth-child(2){
    margin-right: 0;
}

.aoption img,
.aoption span{
    float: left;
}

.aoption img{
    margin-right: 7px;
}

.aoption span{
    margin-top: 3px;
}

.aoption .cantidad_carro{
    font-size: 12px;
}

nav{
    height: 50px;
    border-bottom: 1px solid #eaecec;
}

nav > ul{
    width: 95%;
    max-width: 1180px;
    margin: auto;
    padding: 0;
    list-style: none;
    display: grid;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

nav > ul li{
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
    height: 100%;
    padding-right: 15px;
    position: relative;
}

nav > ul li:last-child{
    padding-right: 0;
}

nav > ul li a{
    color: #0f578d;
}
.sep_menu{
    height: 100%;
    display: grid;
    align-items: center;
    position: relative;
}
.sep_menu i{
    display: none!important;
}

.submenu{
    background: #fff;
    position: absolute;
    z-index: 9999;
    width: calc(100% + 100px);
    border: 1px solid #eaecec;
    border-radius: 2px;
    top: 97%;
    padding: 0;
    overflow: auto;
    max-height: 350px;
    box-shadow: 0 3px 5px rgba(153, 153, 153, .5);
    display: none;
}

.submenu li{
    list-style: none;
}

.submenu li a{
    color: #666;
    font-weight: 500;
    display: block;
    padding: 15px 12px;
    transition: .2s;
}

.submenu li a:hover{
    color: #0f578d;
}

nav > ul li:hover .submenu{
    display: block;
}

.offer{
    color: #eb2d2f;
}

#slider{
    width: 100%;
    max-width: 1280px;
    margin: auto;
    max-height: 340px;
    overflow: hidden;
    position: relative;
}

#slider .item img{
    width: 100%;
    display: block;
}

#slider .slick-prev{
    position: absolute;
    z-index: 99;
    width: 40px;
    height: 40px;
    background: #252525;
    color: #fff;
    top: 50%;
    left: 4%;
    transform: translate(-0%, -50%);
    border: 1px solid #a1a0a0;
}

#slider .slick-next{
    position: absolute;
    z-index: 99;
    width: 40px;
    height: 40px;
    background: #252525;
    color: #fff;
    top: 50%;
    right: 4%;
    transform: translate(-0%, -50%);
    border: 1px solid #a1a0a0;
}

#slider .slick-dots{
    position: absolute;
    bottom: 28px;
    z-index: 99;
    padding: 0;
    margin: 0;
    right: 5%;
}

#slider .slick-dots li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

#slider .slick-dots li button{
    padding: 0;
    background: transparent;
    color: transparent;
    border-radius: 100%;
    width: 7px;
    height: 7px;
    border: 1px solid #fff;
}

#slider .slick-dots li.slick-active{
    padding: 0;
    background: #fff;
    color: transparent;
    border-radius: 100%;
    width: 7px;
    height: 7px;
    border: 1px solid #fff;
}

.hot_sale{
    background: #eb2d2f;
    width: 100%;
    margin: 30px auto;
    height: 250px;
}

.home_title{
    color: #0f578d;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.buy_category,
.banners_one,
.banners_two,
.home_products,
.container_grid{
    width: 95%;
    max-width: 1180px;
    margin: auto;
}

.buy_category{
    margin-top: 30px;
}

.buy_category .grid{
    margin-top: 15px;
}

.buy_category .item{
    background: #fff;
    box-shadow: 0px 3px 5px rgba(153, 153, 153, .5);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
}

.buy_category .item img{
    width: 100%;
    max-width: 100%!important;
    display: block;
}

.buy_category .item .nombre{
    color: #0f578d;
    font-size: 14px;
    padding: 15px 20px;
    height: 60px;
}

.banners_one .grid{
    display: grid;
    grid-template-columns: repeat(6, calc(16.666666% - 16.5px));
    grid-template-areas: "one one one two two two" "three three four four five five";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 20px 0 25px 0;
}

.banners_one .grid .col img{
    width: 100%;
    display: block;
    transition: .4s;
}

.banners_one .grid .col:hover img{
    box-shadow: 0 4px 9px rgba(153,153,153,.8);
}

.banners_one .grid .col:nth-child(1){ grid-area: one; }
.banners_one .grid .col:nth-child(2){ grid-area: two; }
.banners_one .grid .col:nth-child(3){ grid-area: three; }
.banners_one .grid .col:nth-child(4){ grid-area: four; }
.banners_one .grid .col:nth-child(5){ grid-area: five; }

.grid_products{
    display: grid;
    grid-template-columns: repeat(3, calc(33.333333% - 15px));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.grid_four{
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 15px));
    grid-column-gap: 20px;
}

.grid_products > .col{
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    padding: 30px 20px 20px 20px;
    background: #fff;
    transition: .3s;
    position: relative;
}

.grid_products > .col a{
    display: block;
}

.grid_products > .col:hover{
    box-shadow: 0px 8px 16px rgba(153, 153, 153, .4);
}

.grid_products > .col:hover .nombre{
    color: #3399ff;
    text-decoration: underline;
    text-decoration-color: #d8e8ff;
}

.grid_products > .col span{
    display: block;
}

.grid_products > .col img{
    width: 100%;
    max-width: 200px;
    margin: auto;
    display: block;
    margin-bottom: 30px;
}

.grid_products > .col .thumb{
    position: relative;
}

.grid_products > .col .nombre{
    text-transform: uppercase;
    transition: .3s;
}

.grid_products > .col .descuento{
    color: #999999;
    margin-top: 10px;
    min-height: 14px;
}

.grid_products > .col .precio{
    color: #eb2d2f;
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
}

.grid_products > .col .precio small.signo{
    float: left;
    font-size: 18px;
    margin-top: 3px;
}

.grid_products > .col .precio small.iva{
    color: #0066cc;
    font-size: 12px;
    font-weight: normal;
}

.grid_products > .col .icon_save{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 999;
}

.grid_products > .col .icon_save i{
    font-size: 18px;
    color: #2e89e5;
}

.grid_products > .col .porcentaje_descuento{
    background: #eb2d2f;
    width: 40px;
    height: 40px;
    color: #fff;
    position: absolute;
    top: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
    font-size: 14px;
    font-weight: bold;
    z-index: 9;
}

.grid_products > .col .descuento_cantidad{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    color: #006fdf;
    right: 20px;
    top: 60px;
    z-index: 9;
}

.banners_two .grid{
    display: grid;
    grid-template-columns: repeat(3, calc(33.333333% - 13px));
    grid-template-areas: "gone gtwo gthree" "gfour gfour gthree";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.banners_two .grid .col img{
    width: 100%;
    display: block;
    transition: .4s;
}

.banners_two .grid .col:hover img{
    box-shadow: 0 4px 9px rgba(153,153,153,.8);
}

.banners_two .grid .col:nth-child(1){ grid-area: gone; }
.banners_two .grid .col:nth-child(2){ grid-area: gtwo; }
.banners_two .grid .col:nth-child(3){ grid-area: gthree; }
.banners_two .grid .col:nth-child(4){ grid-area: gfour; }

.servicios{
    width: 95%;
    max-width: 1180px;
    margin: 55px auto 55px auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
}

.servicios .col{
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.servicios .col span{
    display: block;
    color: #999;
    margin-top: 20px;
}

.content_news{
    display: grid;
    grid-template-columns: repeat(2, auto);
    height: 100%;
    align-items: center;
}

.newsletter{
    height: 150px;
    width: 100%;
    background: #006fdf;
}

.newsletter p{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    max-width: 425px;
}

#btnNewsletter img{
    width: 24px;
}

footer{
    background: #f8f8f8;
    padding: 50px 0 0 0;
}

.grid_footer{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-areas: "fone ftwo fthree ffour";
    justify-content: space-between;
    grid-column-gap: 10px;
    height: 100%;
}

.grid_footer .col:nth-child(1){
    grid-area: fone;
}

.grid_footer .col:nth-child(2){
    grid-area: ftwo;
}

.grid_footer .col:nth-child(3){
    grid-area: fthree;
}

.grid_footer .col:nth-child(4){
    grid-area: ffour;
}

.grid_footer .col .title{
    color: #006fdf;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 30px;
}

.grid_footer .col .title2{
    color: #006fdf;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
}

.grid_footer .col .logos_footer{
    display: block;
    margin-bottom: 10px;
}

.grid_footer .col .text{
    color: #999;
    font-size: 12px;
    max-width: 255px;
    width: 100%;
}

.list_footer li{
    list-style: none;
}

.list_footer li a{
    color: #999;
    display: block;
    margin-bottom: 12px;
}

.list_footer li a.numbero_contacto{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.box_rrss{
    display: inline-block;
    background: #eb2d2f;
    color: #fff;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    margin-right: 10px;
}

.bottom_footer{
    background: #f1f0f0;
    height: 36px;
    width: 100%;
    margin-top: 20px;
}

.bottom_footer .left{
    color: #ccc;
    font-size: 12px;
}

.bottom_footer .right{
    float: right;
}

.bottom_footer .grid_btm{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    height: 100%;
}

.grid_oferta_home{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 10px;
    align-items: center;
    height: 100%;
}

.grid_oferta_home .col{
    /*background: black;*/
}

.content_tiempo{
    text-align: center;
}

.content_tiempo span{
    display: block;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 3px;
}

.timer{
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-column-gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.timer .box_time .time{
    background: #fff;
    width: 60px;
    height: 60px;
    color: #eb2d2f;
    font-size: 30px;
    font-weight: 900;
    line-height: 60px;
}

.timer .box_time .text{
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
}

.grid_oferta_home .col .content_info{
    max-width: 200px;
}

.grid_oferta_home .col .content_info .nombre{
    font-size: 18px;
    color: #fff;
}

.grid_oferta_home .col .content_info .precio{
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
}

.grid_oferta_home .col .content_info .button_oferta{
    background: #006fdf;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    display: block;
    width: 100%;
    max-width: 180px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 3px;
    margin-top: 15px;
}

.breadcrumbs{
    border-bottom: 1px solid #eaecec;
}

.breadcrumbs ul{
    width: 95%;
    max-width: 1180px;
    margin: auto;
    padding: 0;
    padding: 15px 0;
}

.breadcrumbs ul li{
    list-style: none;
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
    border-right: 1px solid #666666;
    padding: 0 15px;
}

.breadcrumbs ul li:first-child{
    padding-left: 0;
}

.breadcrumbs ul li:last-child{
    border-right: 0;
}

.breadcrumbs ul li:last-child a{
    color: #333;
}

.breadcrumbs ul li a{
    color: #999999;
    display: block;
}

.title_filtro{
    color: #006699;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 18px 0;
    border-bottom: 1px solid #eaecec;
}

.container_grid{
    display: grid;
    grid-template-columns: calc(25% - 10px) calc(75% - 10px);
    grid-column-gap: 20px;
    margin-bottom: 50px;
}

.container_grid .col{

}

.filter_apply{
    color: #333;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    padding: 10px 0;
}

.filtros_aplicados{
    padding-bottom: 25px;
    border-bottom: 1px solid #eaecec;
    overflow: hidden;
}

.filtros_aplicados .aplicado,
.filtros_aplicados .aplicado_otros{
    border-radius: 15px;
    border: 1px solid #cccccc;
    padding: 8px 12px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.filtros_aplicados .aplicado span,
.filtros_aplicados .aplicado_otros span{
    color: #666666;
    font-size: 14px;
}

.filtros_aplicados .aplicado i,
.filtros_aplicados .aplicado_otros i{
    color: #ccc;
    font-size: 16px;
    float: right;
    margin-top: 1px;
}

.limpiar_filtros{
    font-size: 14px;
    color: #006699;
    text-decoration: underline;
    text-decoration-color: #a3bcd0;
    display: block;
    text-transform: uppercase;
    margin-top: 10px;
}

.box_filtro{
    border-bottom: 1px solid #eaecec;
    padding-bottom: 15px;
}

.box_filtro .title{
    color: #333;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 0 5px 0;
}

.box_check{
    max-height: 190px;
    overflow: auto;
}

.box_check .row,
.box_check .row_otro{
    margin-top: 10px;
    overflow: hidden;
    display: block;
}

.box_check .row label,
.box_check .row_otro label{
    color: #333333;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    /*display: block;*/
    float: left;
    width: calc(100% - 41px);
    margin-top: 7px;
    margin-left: 3px;
    text-transform: uppercase;
}


.box_check .row label small,
.box_check .row_otro label small{
    color: #999999;
    font-size: 12px;
}

.chk{
    background: #fff;
    border: 1px solid #eaecec;
    height: 22px;
    width: 22px;
    border-radius: 2px;
    float: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.chk:checked{
    background: #006699 url(img/chk_checked.svg) no-repeat;
    border: 1px solid #eaecec;
    border-radius: 2px;
    background-position: center;
}

#chkPrincipal{
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

#chkPrincipal:checked{
    background-size: 8px;
}

.not_label{
    width: auto;
    margin-top: 2px;
    color: #666;
}

.btn_ofertas{
    display: block;
    color: #fff;
    text-align: center;
    background: #006fdf;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 20px 0;
}

.btn{
    transition: .3s;
}

.btn:hover{
    background: #0161c2!important;
}

.buttom_b{
    width: 100%;
    border-bottom: 1px solid #eaecec;
    overflow: hidden;
}

.orderby{
    width: 100%;
    max-width: 390px;
    float: right;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    height: 52px;
    align-items: center;
}

.orderby .title-xs{
    display: none;
}
.orderby .col{
    height: 100%;
}
.orderby .col a{
    height: 100%;
    display: grid;
    align-items: center;
    color: #666666;
    text-align: center;
    padding: 0 10px;
}

.orderby .col:last-child a{
    padding-right: 0;
}

.orderby .col a.active{
    border-bottom: 2px solid #0f578d;
    color: #0f578d;
}

.orderby-xs{
    display: none;
    position: fixed;
    bottom: -100%;
    z-index: 10001;
    background: #fff;
    width: 100%;
    left: 0;
}

.orderby-xs .row-order{
    display: block;
    border-bottom: 1px solid #e1e1e1;
    text-transform: uppercase;
    font-weight: 500;
}

.orderby-xs .row-order a{
    padding: 20px 2.5%;
    display: block;
}

.orderby-xs .row-order a.active{
    color: #0f578d;
}

.orderby-xs .row-order:first-child{
    border-top: 1px solid #e1e1e1;
}

.bg-order{
    background: rgba(0,0,0, .6);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    display: none;
}

.countdown{
    display: grid;
    grid-template-columns: repeat(3, 24px);
    grid-column-gap: 2px;
    position: absolute;
    bottom: -15px;
}

.countdown > .col small{
    color: #999999;
    font-size: 10px;
}

.countdown > .col .box{
    background: #006fdf;
    width: 24px;
    height: 24px;
    color: #fff;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
}

.slider-ficha-nav{
    width: 100%;
}

.slider-ficha-nav .item{
    border: 1px solid #eaecec;
    padding: 5px;
    margin-bottom: 15px;
}

.slider-ficha-nav img{
    width: 100%;
}

.slider-ficha-for{
    width: 100%;
    border: 1px solid #eaecec;
    padding: 40px 20px;
}

.slider-ficha-for .item{
    position: relative;
}

.slider-ficha-for .item:hover .hover_zoom{
    display: block;
}

.slider-ficha-for .item img{
    width: 100%;
    max-width: 324px;
    display: block;
    margin: auto;
}

.grid_ficha{
    display: grid;
    grid-template-columns: 42.4% 30% 24%;
    grid-template-areas: "fione fitwo fithree";
    grid-column-gap: 20px;
}

.grid_ficha > .col:first-child{
    display: grid;
    grid-template-columns: 18% calc(82% - 10px);
    grid-template-areas: "imgone imgtwo";
    grid-column-gap: 20px;
    grid-area: fione;
}

.grid_ficha > .col:nth-child(2){
    grid-area: fitwo;
}

.grid_ficha > .col:nth-child(3){
    grid-area: fithree;
}

.grid_ficha > .col:first-child .slider-ficha-nav{
    grid-area: imgone;
}

.grid_ficha > .col:first-child .principal{
    grid-area: imgtwo;
}

.principal{
    width: 100%;
    position: relative;
    max-width: 380px;
}

.principal .porcentaje_descuento{
    background: #eb2d2f;
    width: 50px;
    height: 50px;
    color: #fff;
    position: absolute;
    top: 12px;
    left: 12px;
    text-align: center;
    line-height: 50px;
    border-radius: 100%;
    font-size: 18px;
    font-weight: bold;
    z-index: 9;
}

.principal .countdown{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.principal .descuento_cantidad{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    color: #006fdf;
    right: 20px;
    top: 30%;
    z-index: 9;
}

.grid_ficha .info .brand{
    color: #0066cc;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.grid_ficha .info .price span:first-child{
    color: #eb2d2f;
    float: left;
    font-weight: bold;
    font-size: 24px;
}

.grid_ficha .info .price span:last-child{
    color: #0066cc;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}

.grid_ficha .info .discount{
    color: #999999;
    margin-top: 5px;
}

.grid_ficha .info .name{
    color: #666666;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
}

.grid_ficha .info .sku{
    color: #006699;
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 5px;
}

.grid_ficha .info .disponibilidad{
    color: #66cc00;
    font-size: 14px;
    margin-top: 8px;
}

.grid_ficha .info .views{
    background: #ffcc66;
    color: #fff;
    width: 100%;
    max-width: 315px;
    padding: 10px 15px;
    border-radius: 3px;
    margin-top: 10px;
}

.descripcion_corta{
    color: #999;
    margin: 15px 0;
    line-height: 18px;
}

.descripcion_corta > ul{
    padding: 0;
    list-style: none;
}

.descripcion_corta > ul li{
    padding-left: 1em; 
    text-indent: -.7em;
    color: #999;
    margin-bottom: 5px;
}

.descripcion_corta > ul li:before{
    content: "• ";
    color: #006699;
}

.box_qty{
    overflow: hidden;
}

.box_main_qty,
.box_main_qty_cart{
    position: relative;
}

.box_qty span{
    display: block;
    color: #666;
    margin-bottom: 10px;
}

.box_qty .cantidad_ficha{
    border: 1px solid #eaecec;
    height: 50px;
    background: #fff url(img/arrowselect.png) no-repeat;
    background-position: 83%; 
    text-align: center;
    color: #150a0b;
    font-size: 14px;
    border-radius: 0;
    width: 20%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    float: left;
    cursor: pointer;
    outline: none;
}

.box_qty .addToCart{
    color: #fff;
    background: #006fdf;
    border: 1px solid #006fdf;
    height: 50px;
    display: block;
    float: left;
    width: 80%;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 48px;
}

.box_select_stock{
    position: absolute;
    background: #fff;
    border: 1px solid #eaecec;
    width: 20%;
    border-top: 0;
    text-align: center;
    display: none;
    max-height: 153px;
    overflow: auto;
}

.box_select_stock::-webkit-scrollbar{
    width: 2px;     /* Tamaño del scroll en vertical */
    height: 2px;    /* Tamaño del scroll en horizontal */
}

.box_select_stock::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 4px;
}

.box_select_stock .row_stock,
.box_select_stock .row_stock_ficha{
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
}

.box_select_stock .row_stock:hover,
.box_select_stock .row_stock_ficha:hover{
    background: #f6f6f6;
}

.box_retiro{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 100%;
    margin-top: 20px;
}

.box_retiro span.title{
    display: block;
    color: #666;
    margin-top: 5px;
}

.box_retiro span.d_dis{
    display: block;
    color: #66cc00;
    margin-top: 5px;
}

.box_retiro span.d_not{
    display: block;
    color: #eb2d2f;
    margin-top: 5px;
}

.envio_gratis{
    color: #999;
    font-size: 14px;
    margin-top: 15px;
}

.mensaje_envio{
    color: #999;
    font-size: 14px;
    margin-top: 20px;
}

.agregarFavorito{
    color: #0066cc;
    font-size: 14px;
    margin-top: 20px;
    display: block;
}

.agregarFavorito i{
    font-size: 16px;
    float: left;
    margin-right: 8px;
}

.acordeon_ficha{
    margin-top: 32px;
}

.acordeon_ficha .box{
    border: 1px solid #eaecec;
    border-bottom: 1px solid #fff;
}

.acordeon_ficha .box:last-child{
    border-bottom: 1px solid #eaecec;
}

.acordeon_ficha .box .title{
    background: #eaecec;
    height: 50px;
    font-weight: bold;
    font-size: 14px;
    color: #006699;
    text-transform: uppercase;
    line-height: 50px;
    padding: 0 20px;
    cursor: pointer;
}

.acordeon_ficha .box .title i{
    float: left;
    margin-top: 12px;
    margin-right: 8px;
    color: #999999;
}

.acordeon_ficha .box .body{
    padding: 20px;
    color: #999;
    font-size: 14px;
    width: 100%;
    max-width: 760px;
    display: none;
}

.button_xs{ 
    display: none;
}

.center-login{
    width: 95%;
    max-width: 890px;
    margin: 25px auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.center-login .col{
    padding-top: 20px;
    padding-bottom: 20px;
}

.center-login .col:first-child{
    border-right: 1px solid #eaecec;
    padding-right: 40px;
}

.center-login .col:last-child{
    padding-left: 40px;
}

.center-login .col:last-child .selectm{
    border: 1px solid #ebebeb!important;
}

.center-login .col h2{
    color: #006699;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.form-group{
    margin-bottom: 10px;
}
.form-group label{
    color: #666666;
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
}

.form-group label span{
    color: #ccc;
    font-size: 14px;
}

.form-group input{
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    width: 100%;
    height: 48px;
    font-size: 14px;
    padding: 0 10px;
    color: #808080;
    font-weight: bold;
}

.form-group input[type="text"]::placeholder{
    color: #ccc;
}

.double-form{
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-column-gap: 20px;
}

.btnFormCompraRapida{
    display: block;
    background: #006fdf;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    max-width: 180px;
    height: 48px;
    line-height: 48px;
    border-radius: 2px;
    margin: auto;
    border: 0;
}

.text-center{
    text-align: center;
}

.term-login{
    margin: 20px auto;
    max-width: 295px;
    width: 100%;
    color: #999;
}

.term-login a{
    color: #0033cc;
    text-decoration: underline;
    text-decoration-color: #d4d8f3;
}

.term-login p{
    line-height: 15px;
}

.btnRecuperarClave{
    display: block;
    margin-bottom: 25px;
}

.content_gray{
    background: #fafafa;
    padding: 30px 0;
}

.grid-dashboard{
    display: grid;
    grid-template-columns: 29% 69%;
    grid-column-gap: 20px;
}

.content-dashboard{
    width: 95%;
    max-width: 980px;
    margin: auto;
}

.title-dash{
    margin: 0;
    color: #006699;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.welcome{
    background: #fff;
    width: 100%;
    padding: 20px;
    color: #0f578d;
    margin-bottom: 20px;
    border-radius: 3px;
}

.welcome small{
    font-size: 12px;
}

.welcome span{
    display: block;
    font-size: 18px;
}

.menuMiCuenta a{
    overflow: hidden;
    line-height: 20px;
}

.menuMiCuenta a img{
    margin-right: 8px;
    float: left;
}

.menuMiCuenta a span{
    float: left;
}

.main_dash{
    background: #fff;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    padding: 20px 50px;
    overflow: hidden;
}

.main_dash .title{
    color: #0f578d;
    font-size: 18px;
}

.main_dash .subtitle{
    color: #999;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.group-form{
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.group-form label{
    font-size: 12px;
    color: #666666;
}

.group-form label small{
    color: #fa0c0c;
}

.group-form input{
    width: 100%;
    background: #fff;
    border: 1px solid #e6e6e6;
    color: #999999;
    height: 48px;
    border-radius: 2px;
    padding: 10px;
}

.group-form input::placeholder{
    color: #d2d2d2;
}

.box_buttons{
    border-top: 1px solid #e6e6e6;
    margin-top: 20px;
    padding: 20px 0;
    overflow: hidden;
}

.box_buttons .update{
    background: #0167d5;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    height: 48px;
    padding: 0 10px;
    display: block;
    line-height: 48px;
    text-align: center;
    border-radius: 2px;
    width: 100%;
    max-width: 160px;
    float: right;
    font-weight: bold;
}

.box_buttons .cambiar_password{
    border: 3px solid #ebebeb;
    border-radius: 2px;
    display: block;
    height: 48px;
    float: right;
    color: #666666;
    font-weight: bold;
    font-size: 14px;
    padding: 0 10px;
    text-transform: uppercase;
    line-height: 45px;
    margin-right: 15px;
    transition: .3s;
}

.box_buttons .cambiar_password:hover{
    background: #ebebeb;
}

.row_direccion{
    background: #fdfdfd;
    border: 1px solid #eaecec;
    border-radius: 2px;
    padding: 20px;
    color: #666;
    position: relative;
    margin-bottom: 20px;
}

.row_direccion .alias{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 4px;
}

.row_direccion .direccion-dash,
.row_direccion .region{
    font-size: 14px;
}

.row_direccion .options{
    position: absolute;
    right: 20px;
    bottom: 15px;
}

.row_direccion .options a{
    color: #006699;
    font-size: 12px;
    margin-left: 10px;
    float: left;
}

.row_direccion .options img{
    float: left;
    margin-right: 5px;
}

.agregarDireccion{
    color: #fff;
    background: #006fdf;
    font-weight: bold;
    text-transform: uppercase;
    height: 50px;
    border-radius: 2px;
    padding: 0 20px;
    display: block;
    float: right;
    line-height: 50px;
}

.row_pedidos{
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    margin-bottom: 20px;
}

.row_pedidos .head{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.row_pedidos .head .titlesmall{
    color: #999999;
    font-size: 12px;
    margin-bottom: 5px;
}

.row_pedidos .head .titlesmall span{
    color: #4f4d51;
}

.row_pedidos .head .data{
    color: #4f4d51;
}

.f14{
    font-size: 14px;
}

.row_pedidos .head .button_view{
    color: #4285f4;
    text-decoration: underline;
    text-decoration-color: #a5c0f9;
}

.row_pedidos .body{
    padding: 20px;
    display: grid;
    grid-template-columns: 60px repeat(3, auto);
    grid-column-gap: 10px;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
}

.row_pedidos .body:last-child{
    border-bottom: 0;
}

.row_pedidos .body .thumb_col{
    width: 60px;
    height: 67px;
    border: 1px solid #eaecec;
    padding: 5px;
}

.row_pedidos .body .thumb_col img{
    width: 100%;
}

.row_pedidos .body .nombre{
    max-width: 150px;
    font-size: 12px;
    color: #666666;
    text-transform: uppercase;
}

.row_pedidos .body .precio{
    color: #eb2d2f;
    font-weight: bold;
    font-size: 14px;
}

.volver_a_comprar{
    background: #0167d5;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    max-width: 135px;
    border-radius: 2px;
}

.content-detalles{
    display: none;
}

.detalles{
    background: #f8f8f8;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-column-gap: 10px;
    padding: 20px;
}

.detalles .title{
    font-size: 14px;
    color: #4f4d51;
    margin-bottom: 15px;
}

.detalles .data{
    font-size: 12px;
    color: #999999;
}

.detalles .data span{
    display: block;
    margin-bottom: 2px;
}

.detalles .data span small{
    float: right;
    font-size: 12px;
}

.detalles .data span small.redTotal{
    font-weight: bold;
    color: #eb2d2f;
}

.row_guardados{
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    margin-bottom: 20px;
}

.row_guardados .body{
    padding: 20px;
    display: grid;
    grid-template-columns: 60px repeat(3, auto);
    grid-column-gap: 10px;
}

.row_guardados .body .thumb_col{
    width: 60px;
    height: 67px;
    border: 1px solid #eaecec;
    padding: 5px;
}

.row_guardados .body .thumb_col img{
    width: 100%;
}

.row_guardados .body .nombre{
    max-width: 150px;
    font-size: 12px;
    color: #666666;
    text-transform: uppercase;
}

.row_guardados .body .precio{
    color: #eb2d2f;
    font-weight: bold;
    font-size: 14px;
}

.row_guardados .body .precio span{
    display: block;
    color: #666666;
    font-weight: bold;
    margin-bottom: 10px;
}

.row_guardados .body .col:last-child{
    display: flex;
    align-items: center;
}

.accionesGuardados{
    font-size: 10px;
    color: #006fdf;
    margin: auto;
}

.accionesGuardados a{
    color: #006fdf;
}

.header_carro{
    border-top: 2px solid #eb2d2f;
    background: #fafafa;
    height: 90px;
    width: 100%;
}

.grid_hcarro{
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.box_breadcarro{
    color: #333333;
    font-size: 10px;
}

.box_breadcarro a{
    color: #999999;
    text-transform: uppercase;
    margin: 0 10px;
}

.box_breadcarro a:last-child{
    margin-right: 0;
}

.box_breadcarro a.active{
    color: #333;
}

.title_carro{
    font-size: 18px;
    font-weight: bold;
    color: #006699;
    text-transform: uppercase;
}

.subtitle_carro{
    font-size: 18px;
    color: #666;
}

.container_small{
    width: 95%;
    max-width: 980px;
    margin: auto;
    position: relative;
}

.title_row{
    display: block;
    font-size: 12px;
    color: #666666;
    font-weight: bold;
    margin-bottom: 16px;
}

.filaProductos .imgFila{
    width: 100%;
    max-width: 60px;
    float: left;
    border: 1px solid #eaecec;
    padding: 10px;
    height: 70px;
    position: relative;
    margin-right: 20px;
}

.filaProductos .imgFila a{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 76%;
}

.filaProductos .precioFila{
    float: left;
    width: 18%;
    font-size: 14px;
    font-weight: bold;
    color: #999999;
}

.filaProductos .totalFila{
    float: left;
    width: 17%;
    text-align: left;
    color: #eb2d2f;
    font-size: 14px;
    font-weight: bold;
}

.filaProductos .cantFila{
    float: left;
    width: 14%;
}

.cantidadProducto{
    border: 1px solid #eaecec;
    text-align: left;
    padding: 0 10px;
    background: #fff url(img/arrowselect.png) no-repeat;
    background-position: 83%;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
}

.title_resumen{
    border: 1px solid #eaecec;
    border-radius: 3px 3px 0 0;
    height: 50px;
    font-size: 14px;
    color: #006699;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
    padding: 0 20px;
}

.cont_gray{
    background: #fafafa;
    padding: 20px;
    overflow: hidden;
    border: 1px solid #eaecec;
    border-top: 0;
}

.filaProductosVistos .imgFila{
    width: 100%;
    max-width: 60px;
    float: left;
    border: 1px solid #eaecec;
    padding: 10px;
    height: 70px;
    position: relative;
    margin-right: 5px;
}

.filaProductosVistos .imgFila a{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 76%;
}

.descuento_row{
    display: block;
    font-size: 10px;
    color: #ccc;
}

.skuGuardados{
    color: #999999;
    font-size: 10px;
    display: block;
    margin-top: 10px;
}
.box_ident{
    background: #fdfdfd;
    border: 1px solid #eaecec;
    border-radius: 3px 0 0 3px;
    padding: 20px;
    margin: 20px 0;
    position: relative;
}
.box_ident span{
    display: block;
    color: #666666;
    font-size: 12px;
    margin-bottom: 5px;
}
.box_ident .t_ident{
    font-size: 14px;
    color: #006699;
    margin-bottom: 15px;
}
.box_ident input{
    border: 1px solid #eaecec;
    border-radius: 2px;
    background: #fff;
    height: 48px;
    padding: 0 10px;
    width: calc(100% - 160px);
    float: left;
    border-right: 0;
}
.btnValidar{
    background: #006fdf;
    color: #fff;
    width: 160px;
    display: block;
    float: left;
    border: 1px solid #eaecec;
    border-radius: 0 3px 3px 0;
    height: 48px;
    text-align: center;
    line-height: 48px;
    text-transform: uppercase;
    font-weight: bold;
}
.grid_enviopago{
    display: grid;
    grid-template-columns: calc(70% - 20px) 30%;
    grid-column-gap: 20px;
}

.grid_enviopago .col:first-child{
    position: relative;
}

.content_tabs_carro{
    background: #fdfdfd;
    overflow: hidden;
    border: 1px solid #eaecec;
    border-radius: 3px;
    position: relative;
}
.content_tabs_carro .tab_carro{
    background: #fdfdfd;
    float: left;
    width: 50%;
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 50px;
    color: #006699;
}
.content_tabs_carro .disabled_right{
    background: #f3f3f3;
    color: #cccccc;
    font-size: 14px;
    border-left: 1px solid #eaecec;
    border-bottom: 1px solid #eaecec;
    border-radius: 0 0 0 3px;
    cursor: pointer;
}

.content_tabs_carro .disabled_left{
    background: #f3f3f3;
    color: #cccccc;
    font-size: 14px;
    border-right: 1px solid #eaecec;
    border-bottom: 1px solid #eaecec;
    border-radius: 0 0 3px 0;
    cursor: pointer;
}
.box_retiro_c{
    display: none;
    padding: 20px;
}

.box_despacho_c{
    padding: 20px;
}

.form-carro{
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.form-carro label{
    font-size: 12px;
    color: #666666;
    margin-bottom: 7px;
}

.form-carro label small{
    color: #fa0c0c;
}

.form-carro input{
    width: 100%;
    background: #fff;
    border: 1px solid #e6e6e6;
    color: #999999;
    height: 48px;
    border-radius: 2px;
    padding: 10px;
}
.form-carro select{
    border: 1px solid #eaecec;
    height: 48px;
    background: #fff url(img/arrowselect.png) no-repeat;
    background-position: 95%; 
    padding-left: 10px;
    padding-right: 10px;
    color: #150a0b;
    font-size: 12px;
    color: #999999;
    border-radius: 0;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    float: left;
}
.form-carro textarea{
    width: 100%;
    resize: none;
    border: 1px solid #e6e6e6;
    color: #999999;
    border-radius: 2px;
    padding: 10px;
}

.form-carro small.obl{
    color: #006fdf;
    float: right;
    font-size: 12px;
}

.double-cart{
    display: grid;
    grid-template-columns: 80px auto;
    grid-column-gap: 20px;
}

.box-chk label{
    width: auto;
    margin-top: 2px;
}

.box-chk input[type="checkbox"]{
    background: #fff;
    border: 1px solid #eaecec;
    height: 12px;
    width: 12px;
    border-radius: 2px;
    float: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.box-chk input[type="checkbox"]:checked{
    background: #006fdf url(img/chk2.png) no-repeat;
    border: 1px solid #006fdf;
    border-radius: 2px;
    background-position: center;
}

.bx_pagos{
    background: #fafafa;
    border: 1px solid #eaecec;
    border-radius: 3px 3px 0 0;
    padding: 20px;
}

.boton_pago a{
    display: block;
    background: #cccccc;
    color: #fff;
    height: 52px;
    line-height: 52px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.boton_pago a img{
    margin-top: 12px;
    float: left;
    margin-right: 10px;
}
.boton_pago a span{
    display: block;
    width: 80%;
    margin: auto;
}

.boton_pago_session a{
    display: block;
    background: #006fdf;
    color: #fff;
    height: 52px;
    line-height: 52px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.metodos{
    background: #fff;
    border: 1px solid #eaecec;
    border-top: 0;
    border-radius: 0 0 3px 3px;
    padding: 20px;
}

.bx_despacho{
    background: #fff;
    border: 1px solid #eaecec;
    border-radius: 3px;
    padding: 20px;
}

.title_box{
    margin-bottom: 10px;
}

.total_carro{
    color: #e41e26;
    font-size: 14px;
}
.bx_descuento{
    margin-top: 20px;
}

.descuento_box{
    height: 48px;
    border: 1px solid #eaecec;
    border-radius: 3px 0 0 3px;
    width: calc(100% - 80px);
    float: left;
    padding: 0 10px;
}

.btnValidarCodigo{
    background: #006fdf;
    color: #fff;
    width: 80px;
    display: block;
    float: left;
    height: 48px;
    border: 1px solid #eaecec;
    text-align: center;
    line-height: 47px;
    font-weight: 500;
}
.group_radio{
    margin-right: 5px;
    float: left;
}
.group_radio label{
    color: #0066cc;
    font-weight: bold;
    float: left;
    width: auto;
    height: 39px;
}
.group_radio input[type="radio"],
.group_radio_despacho input[type="radio"]{
    height: 22px;
    width: 22px;
    background: url(img/radio.png) no-repeat;
    float: left;
    margin-right: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.group_radio input[type="radio"]:checked,
.group_radio_despacho input[type="radio"]:checked{
    background: url(img/radiochk.png) no-repeat;
}

.group_radio_despacho{
    width: 100%;
    overflow: hidden;
}
.group_radio_despacho label{
    width: auto;
    font-size: 14px;
    font-weight: bold;
}

.group_radio_despacho label span{
    color: #0066cc;
}

.group_radio_despacho label small{
    color: #999999;
    font-size: 12px;
    font-weight: 400;
}

.chk_box_terminos{
    margin-top: 20px;
}

.chk_box_terminos input[type="checkbox"]{
    width: 25px;
    height: 25px;
    border: 1px solid #e6e6e6;
    float: left;
    margin-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.chk_box_terminos input[type="checkbox"]:checked{
    background: url(img/check.png) no-repeat;
    background-position: 50%;
}
.chk_box_terminos label{
    width: auto;
    margin-top: 2px;
    color: #999999;
}

.bx_term_fixed{
    float: right;
    margin-right: 15px;
    margin-top: 14px;
}
.bx_term_fixed input[type="checkbox"]{
    width: 25px;
    height: 25px;
    border: 1px solid #e6e6e6;
    float: left;
    margin-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.bx_term_fixed input[type="checkbox"]:checked{
    background: url(img/check.png) no-repeat;
    background-position: 50%;
}
.bx_term_fixed label{
    width: auto;
    margin-top: 2px;
    color: #999999;
}

.disabled_checkout{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
}

.box_ident .disabled_checkout{
    display: none;
}
.btnActivoPago{
    background: #006fdf!important;
}

.box_despacho_c .row_text{
    display: block;
    color: #666666;
    font-size: 14px;
    margin-bottom: 4px;
}

.title_select_dir{
    color: #006699;
    font-size: 14px;
    font-weight: bold;
    margin: 15px 0;
}

.row_direc_select{
    background: #fdfdfd;
    padding: 20px;
    border: 1px solid #eaecec;
    border-radius: 3px;
    margin-bottom: 20px;
}

.row_direc_select:last-child{
    margin-bottom: 0px;
}

.row_direc_select input[type="radio"]{
    background: url(img/radio.png) no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.row_direc_select input[type="radio"]:checked{
    background: url(img/radiochk.png) no-repeat;
}

.row_direc_select label{
    width: 94%;
    margin-top: 4px;
    margin-bottom: 0;
}

.row_direc_select span{
    display: block;
    margin-bottom: 2px;
}

.row_direc_select .alias{
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}

.actions_row{
    float: right;
    margin-top: -18px;
}

.actions_row a{
    font-size: 12px;
    color: #006699;
}

.actions_row a:first-child{
    margin-right: 15px;
}

.actions_row a i{
    color: #4e95db;
    font-size: 14px;
}

.actions_row_principal{
    float: right;
    margin-top: -18px;
}

.actions_row_principal a{
    font-size: 12px;
    color: #006699;
}

.actions_row_principal a i{
    color: #4e95db;
    font-size: 14px;
}

.btn_agregar_direccion{
    width: 100%;
    max-width: 180px;
    height: 52px;
    color: #fff;
    background: #006fdf;
    display: block;
    text-align: center;
    line-height: 52px;
    float: right;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.box_agregar_direccion{
    position: absolute;
    width: 100%;
    top: 0;
    background: #fdfdfd;
    border: 1px solid #eaecec;
    padding: 20px;
    z-index: 9;
    display: none;
}

small.tip{
    font-size: 12px;
    color: #999999!important;
}

.box_agregar_direccion .titulo_add{
    color: #006699;
    font-size: 14px;
    margin-bottom: 20px;
}

.box_agregar_direccion .button{
    width: 180px;
    height: 52px;
    line-height: 52px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-weight: bold;
    float: left;
    margin-top: 15px;
}

.box_agregar_direccion .btnAdd{
    background: #006fdf;
    color: #fff;
    margin-right: 20px;
}

.box_agregar_direccion .btnEdit{
    background: #006fdf;
    color: #fff;
    margin-right: 20px;
    display: none;
}

.box_agregar_direccion .btnCancel{
    border: 1px solid #006fdf;
    color: #006fdf;
}

.bg_checkout{
    background: rgba(0,0,0, .5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.bg_popup{
    background: rgba(0,0,0,.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.popup_acciones{
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.confirmPop,
.confirmPop_img,
.confirmPopF{
    background: #006fdf;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    border-radius: 3px;
    display: inline-block;
    padding: 4px 6px;
    margin-right: 10px;
}

.cancelPop{
    background: #d35252;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    border-radius: 3px;
    display: inline-block;
    padding: 4px 6px;
}

.content_buttons{
    margin: 10px auto 0 auto;
    max-width: 138px;
}

.bg_password{
    background: rgba(0,0,0, .5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.content_password{
    background: #fff;
    width: 95%;
    max-width: 400px;
    padding: 15px;
    position: fixed;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    display: none;
}

    .content_password h2{
        margin-top: 0;
        color: #006fdf;
    }

    .content_password .btnUpdatePasswordPost{
        color: #fff;
        width: 100%;
        max-width: 200px;
        height: 48px;
        text-align: center;
        margin: auto;
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 48px;
        font-weight: bold;
        border-radius: 3px;
        background: #0167d5;
    }

.btnAddDash,
.btnEditDash{
    background: #006fdf;
    color: #fff;
    margin-right: 20px;
}

.button_dash{
    width: 180px;
    height: 52px;
    line-height: 52px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-weight: bold;
    float: left;
    margin-top: 15px;
}

.btnCancelDash{
    border: 1px solid #006fdf;
    color: #006fdf;
}

.titulo_p{
    color: #006699;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.subt_p{
    color: #333333;
    font-size: 14px;
}

.body_p{
    color: #999999;
    font-size: 14px;
    line-height: 18px;
}

.body_p a{
    color: #006699;
    text-decoration: underline;
    text-decoration-color: #a3bcd0;
}

.max-plains{
    max-width: 700px;
}

.max-plains-grid{
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-column-gap: 20px;
}

.max-plains-grid img{
    width: 100%;
}

.body_p span{
    color: #0f578d;
    font-weight: bold;
}

.grid-sucursales{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 15px));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.grid-sucursales span{
    display: block;
    font-size: 14px;
    color: #999999;
    margin-bottom: 2px;
}
.grid-sucursales .title_s{
    color: #0f578d;
    margin-bottom: 20px;
    margin-top: 10px;
}

.grid-sucursales .imagen_s{
    width: 100%;
    max-width: 280px;
    border: 1px solid #eaecec;
}

.grid-sucursales .imagen_s img{
    width: 100%;
    display: block;
}

.filaArtPopUp{
    background: #fff;
    border: 1px solid #eaecec;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 3px 0 8px rgba(204, 204, 204, .4);
}

.botonesPop{
    float: left;
    width: 48%;
}

.box_relacionados{
    float: left;
    margin-top: 20px;
}

.no-stock{
    color: #eb2d2f!important;
}

.exitoimg{
    position: absolute;
    top: 0;
    right: 0;
}

.bg_exito{
    position: relative;
}

.content_nueva_cuenta{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    float: left;
    margin-top: 30px;
}

.content_nueva_cuenta .col:first-child img{
    width: 100%;
    max-width: 480px;
}

.content_nueva_cuenta .col h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #006699;
}

.content_nueva_cuenta .col p{
    color: #666666;
    font-size: 14px;
}

.select_carro .box_select_stock{
    position: absolute;
    background: #fff;
    border: 1px solid #eaecec;
    width: 100%;
    border-top: 0;
    text-align: center;
    display: none;
    top: 55px;
    z-index: 9;
}

.precio_filtro .box_check{
    overflow: initial;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 94%;
}

.box_price{
    color: #333;
    text-align: center;
}

.tabla_fichas{
    width: 100%;
    max-width: 600px;
    border-color: #eaecec;
}

.title_search{
    color: #006699;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.subtitle_search{
    color: #999;
    font-size: 14px;
}
.sepdiv{
    border-top: 1px solid #eaecec;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title2_search{
    text-transform: uppercase;
    color: #006699;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
}

.bg_popup_login{
    background: rgba(0,0,0, .5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    display: none;
}

.content_popup_login{
    border: 1px solid #eaecec;
    position: fixed;
    background: #fff;
    border-radius: 3px;
    z-index: 3;
    width: 100%;
    max-width: 420px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: none;
}

.content_popup_login .t{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #006699;
}

.content_popup_login .s{
    color: #666;
    font-size: 14px;
    margin-top: 5px;
}

.restablecerPass{
    background: #006fdf;
    width: 227px;
    height: 50px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    margin: 10px auto;
}

.text_despacho{
    font-size: 11px;
    color: #999;
}

.slider-progress {
  width: 100%;
  height: 3px;
  background: transparent;
  position: absolute;
  bottom: 0;
  z-index: 999;
}
.slider-progress .progress {
  width: 0%;
  height: 3px;
  background: #ff0000;
}

.cont-brand{
    display: grid;
    grid-template-columns: repeat(6, calc(16.666666% - 10px));
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    align-items: center;
    justify-content: space-around;
}

.cont-brand .col-brand a{
    display: block;
    text-align: center;
}

.cont-brand .col-brand img{
    width: 100%;
    max-width: 165px;
}

.btnFactura{
    color: #006fdf;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-color: #669ae7;
    display: block;
    margin: 20px 0;
}

.form_factura{
    background: #fdfdfd;
    border: 1px solid #eaecec;
    padding: 20px;
    display: none;
}

.three_form{
    display: grid;
    grid-template-columns: repeat(3, calc(33.333333% - 13px));
    grid-column-gap: 20px;
}

.content_factura{
    position: relative;
}

.hover_zoom{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, .5);
    display: none;
}

.hover_zoom i{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 34px;
    transform: translate(-50%, -50%);
}

.content_cantidades{
    margin-top: 20px;
    width: 95%;
}

.preciocant{
    width: 100%;
    background: #fff;
    border: 1px solid #0066cc;
    border-radius: 2px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-top: -1px;
}

.preciocant span{
    display: block;
}

.preciocant .si_compras{
    color: #666;
    font-size: 12px;
}

.preciocant .nombre{
    color: #0066cc;
    font-size: 14px;
    font-weight: bold;
}

.preciocant .precio{
    color: #ff3333;
    font-weight: bold;
    font-size: 24px;
    display: grid;
    grid-template-columns: 8px auto;
    align-items: center;
}

.preciocant .precio small{
    font-size: 14px;
}

.preciocant .x_unidad{
    color: #999999;
    font-size: 12px;
}

.swal-footer{
    text-align: center!important;
}

.swal-button{
    background-color: #0064e8;
    border-radius: 2px;
    padding-top: 15px 40px;
}
.swal-button:not([disabled]):hover{
    background-color: #0064e8;
}
.swal-button:focus{
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(0, 100, 232, .4)
}
.swal-text{
    text-transform: uppercase;
    color: #0b4975;
    font-weight: bold;
    text-align: center;
}

.texto_cantidad{
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    color: #006fdf;
    bottom: 4px;
    z-index: 9;
    left: 50%;
    transform: translate(-50%, 0);
}

.txt_dis{
    display: block;
    font-weight: lighter;
    font-size: 9px;
    color: #666;
}

.fixed-button{
    width: 100%;
    position: fixed;
    height: 60px;
    bottom: 0;
    left: 0;
    background: #fff;
    box-shadow: 0px -3px 18px rgba(0,0,0, .3);
    -webkit-transition: all .5s; 
    -moz-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s; 
    filter:alpha(opacity=00); 
    -moz-opacity:.00; 
    opacity:.00;
}

.fixed-button .boton_pago,
.fixed-button .boton_pago_session{
    width: 250px;
    float: right;
}

.fixed-button .boton_pago a,
.fixed-button .boton_pago_session a{
    height: 60px;
    line-height: 60px;
}

.fixedActivoCarro{z-index:99; filter:alpha(opacity=99); -moz-opacity:.99; opacity:.99;}

.cantidad_carro_xs{
    display: none;
    background: #0f578d;
    position: absolute;
    color: #fff;
    font-size: 12px;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    right: -2px;
    top: -11px;
}

.carro_h{
    position: relative;
}

.btn_menu{
    float: left;
    margin-top: 15px;
    margin-right: 30px;
}

.isearch-xs,
.btn_menu{
    display: none;
}

.btnNext{
    float: right;
    width: 39px;
    height: 54px;
    display: none;
}

.inicio_xs,
.title_submenu{
    display: none;
}

.banner-slider{
    display: none!important;
}

.banner-slider .slick-arrow{
    display: none!important;
}

.banner-slider .item img{
    width: 100%;
}

.banner-slider .slick-dots{
    z-index: 99;
    padding: 0;
    margin: 10px auto;
    text-align: center;
}

.banner-slider .slick-dots li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

.banner-slider .slick-dots li:first-child{
    margin-left: 0;
}

.banner-slider .slick-dots li button{
    padding: 0;
    background: transparent;
    color: transparent;
    border-radius: 100%;
    width: 7px;
    height: 7px;
    border: 1px solid #0f578d;
}

.banner-slider .slick-dots li.slick-active{
    padding: 0;
    background: #0f578d;
    color: transparent;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    border: 1px solid #0f578d;
}

.s-tablet,
.s-movil{
    display: none;
}

.gmovil,
.btnXs i{ display: none; }

.principal .slick-prev{
    position: absolute;
    z-index: 9;
    top: 50%;
    transform: translate(0%, -50%);
}

.principal .slick-next{
    position: absolute;
    z-index: 9;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
}

.button_filtros_xs{
    display: none;
    width: calc(30% - 20px);
    float: left;
}

.tabs_login{
    display: none;
    background: #fafafa;
    margin-top: 20px;
}

.tabs_login .bx{
    width: 50%;
    float: left;
    padding: 20px 0;
    background: #f3f3f3;
    text-transform: uppercase;
    color: #cccccc;
    font-weight: bold;
    text-align: center;
    border: 1px solid #eaecec;
}

.tabs_login .bx:first-child{
    border-right: 0px;
    border-radius: 3px 0 0 0;
}

.tabs_login .bx:last-child{
    border-radius: 0 3px 0 0;
}

.tabs_login .active{
    background: #fff;
    color: #006699;
    border-bottom: 0;
}

.btn_dash_xs{
    display: none;
    background: #fff;
    padding: 18px 15px;
    overflow: hidden;
    color: #333;
}

.btn_dash_xs i,
.btn_dash_xs span{
    float: left;
}

.btn_dash_xs span{
    margin-top: 3px;
    font-size: 16px;
    margin-left: 5px;
}

.ajx_precio_xs{
    display: none;
    float: left;
}

.totales_xs .tituloxs{
    color: #4f4d51;
    font-weight: bold;
}

.totales_xs .precioxs{
    color: #e41e26;
    font-weight: bold;
    font-size: 18px;
}

.bg_filtros_xs{
    background: rgba(0,0,0, .5);
    width: 100%;
    height: 100%;
    display: none;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 10000;
}

.search_xs{
    background: rgba(38,38,38,.85);
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 41px;
    z-index: 10000;
    display: none;
}

.search_xs .campo_buscador{
    background: transparent;
    color: #fff;
    box-shadow: initial;
    border-radius: 0;
    border: 0;
    font-size: 14px;
    height: 74px;
}

.close_search_xs{
    margin-top: 30px;
    display: block;
    float: right;
    margin-right: 2.5%;
}
.search_xs .campo_buscador::placeholder{
    color: #fff;
}
.cuotasMP{float: left; width: 100%; color: #666; margin: 10px 0; font-family: 'Roboto';}
.logoMP{float: left; width: 90px; margin-right: 10px;}
.txtMP{float: left; width: calc(100% - 100px);}
.valorCuota{font-weight: bold; color: #0f578d;}

.btnWhatsApp{float: left; width: 100%; height: 50px; background-color: #0a0; color: #fff!important;}
.btnWhatsApp span{color: #fff; font-size: 14px; float: left; margin-top: 18px; margin-bottom: 0; margin-left: 10px;}
.btnWhatsApp i{color: #fff; font-size: 24px; margin-top: 15px; float: left; margin-left: 15px;}