@media screen and (max-width: 1120px){

	/*.buscador{
		width: 75%;
	}*/

	header .content_header{
		grid-template-columns: auto 45% auto;
	}

	.grid_products > .col .precio small.iva{
		display: block;
	}
	
}

@media screen and (max-width: 920px){
	.grid_ficha{
		grid-template-columns: 42.4% 54%;
		grid-template-areas: "fione fitwo" "fione fithree";
		grid-row-gap: 20px;
	}

	.principal .descuento_cantidad{
		top: 15%;
	}

	.cont-brand{
		grid-template-columns: repeat(4, calc(20% - 10px));
	}
}

@media screen and (max-width: 910px){
	.grid_four{
		grid-template-columns: repeat(3, calc(33.333333% - 14px)) !important;
	}

	.grid_products > .col .descuento_cantidad,
	.grid_products > .col .icon_save{
		right: 10px;
	}
}

@media screen and (max-width: 900px){
	.exitoimg{
		display: none;
	}

	.infoClienteExito{
		width: 100%;
	}

	.infoClienteExito .ancho33{
		width: 100%;
		margin-bottom: 15px;
	}

	.infoClienteExito .ancho25{
		width: 100%;
	}

	.contInfoPago{
		margin-top: 0;
	}

	.grid-sucursales{
		grid-template-columns: repeat(3, calc(33.333333% - 15px));
	}
}

@media screen and (max-width: 890px){
	
	.buscador,
	.aoption span,
	.account_h { display: none; }

	.aoption{
		margin-right: 0;
	}

	.cantidad_carro_xs,
	.isearch-xs,
	.btn_menu,
	.btnNext { display: block; }

	.isearch-xs img{
		margin-right: 0;
		margin-left: 20px;
	}

	.inicio_xs .aoption span{
		display: block;
	}

	.inicio_xs{
		background: #f7f7f7;
		display: block;
		text-transform: initial;
	}

	.title_submenu{
		background: #0f578d;
		display: block;
	}

	.title_submenu a{
		color: #fff!important;
	}

	.title_submenu i{
		float: left;
		font-size: 18px;
		margin-top: 18px;
		color: #fff;
	}

	.carro_h img{
		width: 25px;
	}

	.isearch-xs img{
		width: 24px;
	}

	nav{
		height: 419px;
		border-bottom: 1px solid #eaecec;
	    position: fixed;
	    z-index: 9999;
	    background: #fff;
	    width: 100%;
	    top: 121px;
	    display: none;
	    overflow: auto;
	}

	nav > ul{
		grid-template-columns: 100%!important;
		width: 100%;
	}

	nav > ul li{
		padding: 0 2.5%;
		border-bottom: 1px solid #e1e1e1;
		position: initial;
	}

	nav > ul li a{
		padding: 20px 0;
		width: calc(100% - 40px);
		float: left;
	}

	.sep_menu i{
	    display: block!important;
	    font-size: 16px;
	    color: #eb2d2f;
	    margin-top: 18px;
	}

	header{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9998;
	}

	body{
		padding-top: 121px;
	}

	.bodycart{
		padding-top: 0px!important;
	}

	.sep_menu{
		width: 100%;
		grid-template-columns: 93% 6%;
	}

	.btnNext{
		width: 100%;
		text-align: center;
	}

	.submenu{
	    position: absolute;
	    top: -4px;
	    left: 0;
	    box-shadow: initial;
	    width: 100%;
	    border-radius: 0;
	    height: 100vh;
	    max-height: 100vh;
	}

	.submenu li{
	    height: 56px;
	}

	.submenu li a{
	    padding: 21px 0px;
	    color: #0f578d;
	    font-weight: bold;
	}

	nav > ul li:hover .submenu{
	    display: none;
	}

	header .content_header{
		grid-template-columns: repeat(2, auto);
	}

	header .content_header .col:nth-child(2){
		display: none;
	}

}

@media screen and (max-width: 880px){
	
	.grid-dashboard{
		grid-template-columns: 100%;
		grid-row-gap: 20px;
		grid-column-gap: 0px;
	}

	.welcome{
		display: none;
	}

	.btn_dash_xs{
		display: block;
	}

	.menuMiCuenta{
		display: none;
	}

	.main_dash{
		padding: 20px;
	}

	.grid-xs-cart{
		display: grid;
		grid-template-columns: 100%;
		grid-template-areas: "ctwo" "cone";
		grid-row-gap: 15px;
	}

	.grid-xs-cart .contCarro{
		grid-area: cone;
		width: 100%;
		margin-right: 0;
	}

	.grid-xs-cart .contTotales{
		grid-area: ctwo;
		width: 100%;
	}

	.contTotales .contUltimosVistos{
		display: none;
	}

}

@media screen and (max-width: 860px){
	.grid_ficha > .col:first-child{
		grid-template-columns: 100%;
		grid-template-areas: "imgtwo" "imgone";
	}

	.grid_ficha > .col:first-child .slider-ficha-nav{
		display: none;
	}

	.principal .descuento_cantidad{
		transform: rotate(0deg);
	    writing-mode: initial;
	    top: 10px;
	    right: 10px;
	}
}

@media screen and (max-width: 840px){
	.container_grid{
		display: block;
	}

	.container_grid > .col:first-child{
		display: none;
	    position: fixed;
	    z-index: 999;
	    background: #fff;
	    border-radius: 0 3px 3px 0;
	    width: 90%;
	    max-width: 285px;
	    z-index: 10001;
	    left: 0;
	    top: 0;
	    padding: 0 15px;
	}

	.button_filtros_xs{
		display: block;
	}

	.buttom_b{
		width: 70%;
	    float: right;
	}
}

@media screen and (max-width: 780px){
	.center-login .col:first-child{
		padding-right: 20px;
	}
	.center-login .col:last-child{
		padding-left: 20px;
	}
}

@media screen and (max-width: 760px){
	.s-desktop{
		display: none;
	}

	.s-tablet{
		display: block;
	}

	.content_news{
		grid-template-columns: 50% 47%;
		grid-column-gap: 20px;
	}

	.newsletter p{
		font-size: 18px;
	}

	#slider .slick-prev,
	#slider .slick-next{
		display: none!important;
	}

	.breadcrumbs{
		display: none;
	}

	.botonesPop{
		float: right;
		width: auto;
	}

	.btnPopUpSeguirComprando,
	.btnPopUpComprar{
		width: 100%;
	}
}

@media screen and (max-width: 740px){
	.grid_enviopago{
		grid-template-columns: 100%;
	}

	.bx_pagos{
		position: fixed;
		width: 100%;
		bottom: 0;
		left: 0;
		border-radius: 0;
		border: 0;
		border-top: 1px solid #eaecec;
	}

	.metodos{
		border: 0;
		padding: 0;
	}

	.group_radio{
		margin-right: 18px;
	}

	.chk_box_terminos{
	    width: 100%;
	    position: fixed;
	    bottom: 93px;
	    background: #fff;
	    left: 0;
	    border-top: 1px solid #eaecec;
	    padding: 10px 2.5%;
	    box-shadow: 0px -7px 16px rgba(0,0,0, .1);
	}

	.boton_pago,
	.boton_pago_session{
		width: 60%;
		float: right;
	}

	.ajx_precio_xs{
		display: block;
	}

	.max-plains-grid{
		grid-template-columns: 100%;
	}

	.max-plains-grid .col:last-child{
		display: none;
	}
}

@media screen and (max-width: 720px){
	.grid_ficha{
		grid-template-columns: 100%;
		grid-template-areas: "fione" "fitwo" "fithree";
	}
}

@media screen and (max-width: 700px){
	.atop span{ display: none; }
	header .top .atop { border-right: 0; }
	header .top .atop small { display: block; }

	.grid_four{
		grid-template-columns: repeat(2, calc(50% - 5px)) !important;
	}

	.grid_products > .col .precio{
		font-size: 16px;
	}

	.grid_products > .col .precio small.signo{
		font-size: 16px;
		margin-top: 0;
	}

	.grid_products > .col{
		padding: 20px 10px 10px 10px;
	}

	.banners_two .grid{
		grid-template-columns: repeat(2, calc(50% - 1px));
		grid-template-areas: "gone gtwo" "gthree gfour";
		grid-column-gap: 2px;
		grid-row-gap: 2px;
	}

	.gmovil{ display: block; }
	.gdesk{ display: none; }

	.grid_footer{
		grid-template-columns: 100%;
		grid-template-areas: "ftwo" "fthree" "ffour" "fone";
		width: 100%;
		max-width: 100%;
	}

	footer{
		padding: 0;
	}

	.list_hidden{
		display: none;
		background: #eeeded;
	}

	.list_hidden li a{
		margin-bottom: 0;
		padding: 10px 0;
	}

	.btnXs{
		border-bottom: 1px solid #e1e1e1;
		margin-bottom: 0!important;
		padding: 15px 2.5%!important;
	}

	.xsmb20{
		margin-top: 20px!important;
	}

	.list_footer,
	footer .title,
	footer .title2{
		padding: 0 2.5%;
	}

	footer .content_box{
		padding: 0 2.5%;
	}

	.grid_footer .col .logos_footer,
	.grid_footer .col .text,
	.xsml{
		margin-left: 2.5%;
	}

	.btnXs i{ 
		display: block;
		float: right;
		margin-top: -4px; 
	}

	.hidden_movil{ display: none; }
	.grid_footer .col:nth-child(4) > .title{
		margin-bottom: 15px!important;
	}
}

@media screen and (max-width: 660px){
	.banners_one .grid{
		grid-template-columns: 100%;
		grid-template-areas: "one" "two";
	}

	.banners_one .grid .col:nth-child(3),
	.banners_one .grid .col:nth-child(4),
	.banners_one .grid .col:nth-child(5){
		display: none;
	}

	.banner-slider{
		display: block!important;
	}

	.contInfoShowCart{
		width: 80%;
		margin-bottom: 15px;
	}

	.botoneraShowCart{
		width: 100%;
		float: left;
	}

	.filaProductos .precioFila,
	.filaProductos .totalFila{
		width: 33.333333%;
	}

	.filaProductos .cantFila{
		width: 30%;
	}

	.grid-sucursales{
		grid-template-columns: repeat(2, calc(50% - 10px));
	}
}

@media screen and (max-width: 630px){
	.row_pedidos .body .col:last-child{
		display: none;
	}

	.row_direc_select label{
		width: 66%;
	}

	.actions_row{
		float: left;
		margin-top: 9px;
		margin-left: 32px;
	}
}

@media screen and (max-width: 650px){
	.botonesPop{
		width: 100%;
	}
}

@media screen and (max-width: 600px){
	
	.newsletter{
		padding: 10px 0;
		height: auto;
	}

	.content_news{
		grid-template-columns: 100%;
	}

	.cont-brand{
		grid-template-columns: repeat(2, calc(50% - 10px));
	}

}

@media screen and (max-width: 580px){

	.orderby{
		grid-template-columns: 100%;
	}

	.orderby .col{
		display: none;
	}

	.button_filtros_xs{
		width: calc(50% - 20px);
	}

	.buttom_b{
		width: 50%;
	}

	.orderby .title{
		display: none;
	}

	.orderby .title-xs{
		display: block;
		height: 100%;
		line-height: 55px;
	}

	.grid_products{
		grid-template-columns: repeat(2, calc(50% - 5px));
		grid-column-gap: 10px;
		grid-row-gap: 10px;
	}

	.tabs_login{
		display: block;
	}

	.center-login{
		width: 100%;
		margin: 0px auto 25px auto;
		grid-template-columns: 100%;
	}

	.center-login .col{
		padding: 20px;
		border: 1px solid #eaecec;
		border-top: 0;
	}

	.center-login .col:last-child{
		display: none;
	}

	.row_direccion .options{
		position: initial;
		margin-top: 15px;
	}

	.row_direccion .options a:first-child{
		margin-left: 0;
	}
}

@media screen and (max-width: 560px){
	.precioFilaGuardado{
		width: 25%;
	}

	.contCarroGuardado{
		padding-left: 0;
	}
}

@media screen and (max-width: 500px){
	.grid_products > .col .descuento_cantidad{
		right: 2px;
	}

	.grid_products > .col .icon_save{
		top: 5px;
		right: 5px;
	}

	.servicios{
		grid-template-columns: repeat(2, 50%);
		grid-row-gap: 20px;
	}

	.grid_products > .col .precio small.iva{
		display: block;
	}

	.box_buttons .cambiar_password{
		width: 100%;
		margin-right: 0px;
		float: left;
		text-align: center;
	}

	.box_buttons .update{
		width: 100%;
		max-width: 100%;
		margin-bottom: 15px;
		float: left;
	}

	.main_dash .double-form{
		grid-template-columns: 100%;
		grid-column-gap: 0;
	}

	.row_pedidos .head{
		grid-template-columns: 100%;
		grid-row-gap: 10px;
	}
}

@media screen and (max-width: 480px){
	.s-movil{
		display: block;
	}

	.s-tablet{
		display: none;
	}

	.button_dash{
		width: 100%;
	}

	.contInfoShowCart{
		width: 65%;
	}

	.botonesFilaGuardado span{
		display: none;
	}

	.botonesFilaGuardado a{
		display: block;
	}

	.fixedCarro1 .btnCompletarCompra{
		width: 40%;
	}

	.fixedCarro1 .valoresCarro1Fixed{
		width: 50%;
	}

	.box_despacho_c .double-form,
	.box_retiro_c .double-form{
		grid-template-columns: 100%;
		grid-column-gap: 0;
	}

	.box_ident input{
		width: 100%;
		border-right: 1px solid #eaecec;
	}

	.btnValidar{
		width: 100%;
		margin-top: 10px;
	}

	.actions_row_principal{
		float: left;
		margin-top: 10px;
		margin-bottom: 15px;
	}

	.grid-sucursales{
		grid-template-columns: 100%;
	}
}

@media screen and (max-width: 465px) {

	.contPop{
		padding: 20px;
	}

	.cerrar{
		right: 12px;
		top: 10px;
	}
	
}

@media screen and (max-width: 440px){
	.row_pedidos .body{
		grid-template-columns: 50% 50%;
	}
	.row_pedidos .body .col:first-child{
		display: none;
	}

	.content_tabs_carro .tab_carro{
		overflow: hidden;
	}

	.contBotonesCarro a{
		width: 100%;
		margin-bottom: 10px;
		text-align: center;
	}

	.contImgFilaArticulo{
		width: 50px;
	}

	.contDatosFilaArt{
		width: 70%;
		margin-left: 10px;
	}
}