@charset "UTF-8";
body{
	background:#fff;
	margin:0;
	padding:0;
	font-family:'trebuchet';
	color:#004b9b;
	font-size:14px;
}
.contenedor {
	/* float:left; */
	width:700px;
	border-top: solid 12px #0f578d;
	margin:auto;
}
.header {
	float:left;
	width:100%;
	text-align:center;
	margin:30px 0;
}
h2{
	float:left;
	width:100%;
	text-align:center;
	font-size:26px;
	margin:0 0 10px 0;
	padding:0;
	font-weight:lighter;
	color:#0f578d;
	font-family:'trebuchet';
}
h3{
	color:#666;
	font-size:20px;
	text-align:center;
	float:left;
	width:100%;
	margin:0;
	padding:0;
	font-weight:lighter;
	font-family:'trebuchet';
}
h4{
	font-size:20px;
	text-align:center;
	float:left;
	width:100%;
	margin:0 0 50px 0;
	padding:0;
	font-weight:lighter;
	font-family:'trebuchet';
	color:#0f578d;
}
.titulo {
	float:left;
	width:100%;
	height:50px;
	background:#414142;
	line-height:50px;
	text-align:center;
}
.titulo span{
	float:left;
	padding-left:30px;
	height:50px;
	
	color:#fff;
	font-size:20px;
	font-family:'trebuchet';
	padding:10px 0 0 20px;
}
.filaDato {
	float:left;
	width:640px;
	padding:0 30px;
	height:40px;
	line-height:40px;
}
.tituloDato{
	float:left;
	font-family:'trebuchet';
	width:200px;
	color:#2f6c8e;
}
.valorDato{
	float:left;
	color:#666;
	font-family:'trebuchet';
	width:420px;
	text-align:right;
}
.filaGris{
	background:#eaeaea;
}
.totales {
	float:left;
	width:100%;
	background:#eaeaea;
	min-height:100px;
	padding:10px 0;
}
.totales .valorDato{
	float:right;
	width:130px;
	text-align:right;
}
.totales .tituloDato{
	float:right;
	width:200px;
	text-align:right;
	text-transform:uppercase;
	color:#666;
}
.totales .filaDato{
	height:30px;
	line-height:30px;
}
.totales .total{
	color:#0f578d;
}
.footer {
	float:left;
	width:100%;
	text-align:center;
	height:50px;
	background:#414142;
	color:#fff;
	line-height:50px;
	font-family:'trebuchet';
}