/* this is the main UL element*/
.dropdown{
	margin:0;
	padding:0;
	list-style:none;
	background-image:url(../pics/fondo_menu.png);
	background-repeat: repeat-x;
	background-position:bottom;
	height:25px;
}

/* these are the inner menus*/
.dropdown ul{
	margin:0;
	padding:0;
	list-style:none;
}

/* these are all the LIs in the menu*/
.dropdown li{
	margin:0px;
	padding:5px;
	width:100px;
	height:15px;
	cursor:pointer;
	background-attachment: scroll;
	background-color: #666;
	background-image: url(../pics/fondo_menu.png);
	background-repeat: repeat-x;
	background-position: left;
	border-right: 1px solid;
	border-color:#CCC;
}

/* these are anchor in the menu, if you want to style them differently from the rest of you website*/
.dropdown a{
	text-decoration:none;
	color:#333;
	width:100%;
}

.dropdown a:hover{
	text-decoration:none;
	color:#F00;
}

/* these are the LIs that only belong to submenu*/
.dropdown ul li{
	border-top:0;
	margin-left:-1px;
}

/* these are the LIs that contains a submenu*/
.dropdown li.submenu{
	background-image:url('expand_down.gif');
	background-position:center left;
	background-repeat:no-repeat;
	padding-left:20px;
	width:105px;
}

/* these are the LIs that contains a submenu and which are in a sub-menu themselve*/
.dropdown ul li.submenu{
	background-image:url('expand_right.gif');
	background-position:center right;
	padding:5px;
	width:120px;
}