@charset "UTF-8";
/* CSS Document */
/** {
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#666;
	
}

body {
	background-image:url(../pics/fondo_login.png);
	background-repeat:repeat;
}
	
#login {
	width:380px;
	height:310px;
	padding-top: 30px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 12%;
}

#log_in {
	background-image:url(../pics/login.png);
	background-repeat:no-repeat;
	width:380px;
	height:310px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

input[type=submit] {
	font-size:10px;
	font-family:Verdana,Helvetica;
	font-weight:bold;
	color:#333;
	background:#CCC;
	border:1px #666 solid;
	width:80px;
	height:19px;
}

input[type=submit]:hover {
	color:#CCC;
	background:#333;
	cursor:pointer;
}

.textfield {
	width:98%;
	color:#333;
}

.textfield:hover {
	background-color:#F0F0F0;
}

.error {
	color:#F00;
	font-weight:bold;
}*/




body            {background:#FCFCFC;  margin:0; padding:0; height:100%;  font-family: 'HelveticaLTStd-Light'; line-height:120%; color:#545353; }

/* ---------  contenedor total --------- */
.wrap           { width:100%; height:100%; position:absolute;}
.center         { margin:auto; max-width:1366px; height:auto; display:block; }

/* login y envoltorio login */
.login { 
	/*background:url(../pics/bg-login.png) no-repeat; */
	background-color:rgba(255,255,255,0.7);
	text-align:center; 
	width:333px; 
	height:377px; 
	margin:auto;  
	position: absolute;
	left: 50%; top: 50%;  
	margin-top: -206px; 
	margin-left: -201.5px; 
	overflow:hidden; 
	padding:35px 35px 0px 35px; 
}
.login .logo              { text-align:center; margin-bottom:37px; }
.login form               {  }
.login form input         { width:229px; height:38px; margin-bottom:17px; border:1px solid #C8C8C8; color:#656565;-webkit-border-radius:3px; border-radius:3px; padding-left:46px; padding-right:10px; font-size:15px;  }
.login form .user         { background:url(../pics/user-icon-login.png) 4px  no-repeat; background-color:white; }
.login form .pass         { background:url(../pics/pass-icon-login.png) 5px  no-repeat; background-color:white; }
.login form .accede       { background:#7CAAE2; color:white; width:287px; border:none; text-align:center; padding:0; cursor:pointer; font-family: 'HelveticaLTStd-Bold'; }
.login form .accede + div { display:block; margin:auto; height:35px; overflow:hidden; width:100%; }
.login form .accede:hover { background:#649ADD; }
.login form .check        { background:url(../pics/checkbox.fw.png) no-repeat; width:24px; height:24px; float:left; margin:0; }
.login form .check + p    { font-size:12px; width:167px; float:left !important ; color:#666; line-height:14px;  }


.login  div.checker{ float:left;  margin-left: 83px;}

.login .footer2            { background:url(../pics/borde-top-login-footer.gif) repeat-x !important; height:73px !important; width:270px !important ;   margin: 13px 0 0 32px !important; padding-top:10px !important; }
.login .footer .para      { font-size:13px; line-height:17px; color:#666; }
.login .de                { font-size:13px; line-height:15px; color:#252525 !important; margin-top:7px !important; width:100%; text-align:center; }
div.tabla span, p            { float:left; font-size:12px; }
#fwp{
	z-index:999;
}
.boton2 {
	float:left;
	width:40%!important;
	text-align:center;
	margin-right:10%!important;
	padding:0!important;
	margin:0!important;
}
.msj_recuperar {
	float:left;
	width:290px;
	margin-left:20px;
	margin-bottom:10px;
	color:#666;
	text-align:left;
}
.cancelar {
	height:38px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	line-height:38px;
	margin-left:23px!important;
}
#error {
	color:#F00;
	font-weight:bold;
	font-size:12px;
}
.ui-button-text {
	font-size:12px;
}
.ncam {
	color: #06F;
}